.edit-action-icon,
.delete-action-icon {
  cursor: pointer;
  transition: all;
  /* width: 24px;
  height: 24px; */
}
.edit-action-icon:hover {
  color: #3b82f6;
}
.delete-action-icon:hover {
  color: #ef4444;
}
